.navigation{
  padding: 0 8px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 72px;
}
.navigation a{
  text-decoration: none;
  color: #2e2e2e;
}

.navigation ul{
  display: flex;
  list-style: none;
  gap: 24px;
  align-items: center;
  font-weight: 500;
}

